<!DOCTYPE html>
<html>
  <head>
    <title>Crossweb Framework | Login</title>
  </head>
  
  <body>
    
    <form action="/authenticate" method="post" accept-charset="utf-8">
      
      <p>
        <label for="username">Username</label><input type="text" name="username" value="" id="username">
      </p>
      
      <p>
        <label for="password">Password</label><input type="password" name="password" value="" id="password">
      </p>

      <input type="hidden" name="type" value="plain" id="type">

      <p><input type="submit" value="Login"></p>
    </form>
    
  </body>
</html>